.success_stories {
  background: #e5f2ff;
  border-block: calc(100vw / 1512) solid #5586ff;
  padding: calc(8000vw / 1512) calc(13000vw / 1512);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(2400vw / 1512);
}
.stories_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: calc(1600vw / 1512);
}
.stories_title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: calc(1000vw / 1512);
  gap: calc(1000vw / 1512);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: calc(1600vw / 1512);
  line-height: calc(2100vw / 1512);
  text-align: center;
  text-transform: uppercase;

  color: #1a74e5;
}
.stories {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: calc(1000vw / 1512);
  gap: calc(1000vw / 1512);

  width: calc(105149vw / 1512);
  height: calc(20000vw / 1512);

  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  font-size: calc(2400vw / 1512);
  line-height: 150%;
  text-align: center;

  color: #1a74e5;
}
.stories_name {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: calc(1600vw / 1512) 0;
  gap: calc(4000vw / 1512);
  border-bottom: calc(100vw / 1512) solid #000000;
  width: 100%;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: calc(2400vw / 1512);
  line-height: 150%;
}
.stories_story {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: calc(1000vw / 1512) 0;
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  font-size: calc(1600vw / 1512);
  line-height: 150%;
}
.stories_author {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: calc(1600vw / 1512);
  color: #0e51ff;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  height: calc(5600vw / 1512);
  width: 100%;
}
.author_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  padding: calc(350vw / 1512) calc(1600vw / 1512) calc(350vw / 1512) 0;
  gap: calc(400vw / 1512);
  justify-content: space-around;
  border-right: 1px solid;
}
.author_website_name {
  font-size: 16px;
  line-height: 150%;
}
.author_job {
  font-size: 14px;
  line-height: 150%;
}

.stories_arrow_box {
  position: relative;

  display: flex;
  gap: calc(2800vw / 1512);
  height: calc(5600vw / 1512);
  width: calc(6615vw / 1512);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.next_story {
  height: 15px;
  width: 15px;
}
.prev_story {
  height: 15px;
  width: 15px;
}
.stories_arrow_box:hover .next_story {
  animation: arrow-right-shake 0.2s ease-in-out;
  /* position: relative;
  left: 3px;
  width: 16px;
  height: 16px; */
}
.stories_arrow_box:hover .prev_story {
  animation: arrow-left-shake 0.2s ease-in-out;
  /* position: relative;
  right: 3px;
  width: 16px;
  height: 16px; */
}
@keyframes arrow-left-shake {
  50% {
    transform: translate(-30%);
  }
  100% {
    transform: translate(0%);
  }
}
@keyframes arrow-right-shake {
  50% {
    transform: translate(30%);
  }
  100% {
    transform: translate(0%);
  }
}
/* calc(00vw/1512) */
